<ion-grid fixed>
  <ion-row>
    <ion-col size="12" *ngFor="let news of news;let i=index">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>
            <span>{{i+1}}</span>
            <span>{{news.source.name}}</span>
            <div class="noticia-more">
              <ion-button (click)="lanzarMenu(i)"  fill="clear" >
                <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-card-subtitle>
          <ion-card-title (click)="openBrowser(i)">{{news.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-img [src]="news.urlToImage" (click)="openBrowser(i)"></ion-img>
          <p>{{news.description}}</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
