<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" *ngFor="let news of dataFav.noticias;let i=index">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>
              <span>{{i+1}}</span>
              <span>{{news.source.name}}</span>
              <div class="noticia-more">
                <ion-button (click)="lanzarMenu(i)"  fill="clear" >
                  <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
                </ion-button>
              </div>
            </ion-card-subtitle>
            <ion-card-title (click)="openBrowser(i)">{{news.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img [src]="news.urlToImage" (click)="openBrowser(i)"></ion-img>
            <p>{{news.description}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
