<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-segment :this.segment.value = this.categories[0]  (ionChange)="segmentChanged($event)">
  <ion-segment-button *ngFor="let categories of categories;let i=index" value="{{categories}}">
    <ion-label>{{categories}}</ion-label>
  </ion-segment-button>
</ion-segment>

<app-articles [news]="news"></app-articles>
<ion-infinite-scroll threshold="25%" position="bottom" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
